
body
{
    margin: 0;
    padding: 0;
    font-family: '8514 Fix', 'Bank Gothic', 'Arial', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #282828;
}

@font-face
{
    font-family: 'Bank Gothic';
    src: url('bankgothic.woff2') format('woff2'),
         url('bankgothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: '8514 Fix';
    src: url('8514fix.woff2') format('woff2'),
         url('8514fix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.main_grid, .header, .header_logo, .header_logo img, .header_title, .big_text, .small_text, .navigation_bar, .navigation_bar_button, .navigation_bar_button:hover, .body, .body_text_section, .footer
{
    box-sizing: border-box;
}

.main_grid
{
    display: grid;
    grid-template-rows: 20svh 5svh 55svh 20svh;
    grid-template-columns: 1fr;

    height: 100vh;
    width: 100vw;

    margin: 0 auto;
}

.header
{
    height: 100%;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;

    background-color: #282828;
}

.header_logo
{
    height: 100%;
    
    display: flex;

    align-items: center;
    justify-content: center;

    padding: 20px;

    background-color: #282828;
}

.header_logo img
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.header_title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    padding: 10px;

    color: #FFFFFF;
}

.header_title .big_text
{
    font-size: 5em;
    line-height: 1.2;
}

.header_title .small_text
{
    font-size: 1.5em;
    line-height: 1.2;
}

.navigation_bar
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    justify-content: center;
    align-items: center;

    background-color: red;
}

.navigation_bar_button
{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5em;

    background-color: transparent;
    color: #FFFFFF;

    margin: 0px;
    text-decoration: none;

    border: none;
}

.navigation_bar_button:hover
{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.body
{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    background-color: #fff9ec;
}

.body_text_section
{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center; 
    
    margin-bottom: 10px;
    color: #000000;
}

.footer
{
    background-color: #282828;
}
